body {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0 100px;
    background-color: azure;
}

header {
    display: flex;
    background-color: azure;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .orientation {
        margin: 0 70px 0 50px;
    }

    .word {
        color: #6b6b58;
    }

    p {
        color: #6b6b58;
    }
}

.area01 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
    width: 500px;
    margin: auto;
   
    .searchArea{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;

        .btn01 {
            width: 100px;
        }

        .btn02 {
            width: 50px;
        }
    }
}

.area02 {
    background-color: rgb(209, 219, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 600px;
    margin: auto;
    border-radius: 10px;

    h4 {  
        font-family:Microsoft JhengHei;
        margin: 30px;
        letter-spacing: 5px;
    }

    .table {
        height: 300px;
        width: 550px;
        text-align: center;
    }
}
